.collections-page {
  .cp-modal {
    .dialogue {
      width: 40%;
      @media screen and (max-width: 979px) {
        width: 65% !important; 
      } 
      @media screen and (max-width: 676px) {
        width: 65% !important; 
      }  
      @media screen and (max-width: 500px) {
        width: 75% !important; 
      } 
      @media screen and (max-width: 428px) {
        width: 90% !important; 
      } 
    }
  }

  .payment-method{
    border: 1px solid grey;
    border-radius: 0.3rem;
    cursor: pointer;

    &.selected{
      border: 2px solid var(--blue);
      color: #3A4080!important;
    }
  }
}