.confirm-identity-page {
  overflow: auto;

  .box {
    width: 35%;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px;

    @media screen and (max-width: 676px) {
      width: 65%; 
    }  
    @media screen and (max-width: 500px) {
      width: 75%; 
    } 
    @media screen and (max-width: 428px) {
      width: 90%; 
    } 

    .user-details {
      width: 70%;
      border: 1px solid rgba(8, 121, 201, 0.96);
      margin-left: auto;
      margin-right: auto;
      
      @media screen and (max-width: 500px) {
        width: 75%; 
      } 
      @media screen and (max-width: 428px) {
        width: 90%; 
      }
    }

    .text-deep-blue {
      cursor: pointer;
    }
    a {
      margin-top: 10px;
    }
    .bvn-error {
      color: #d34242;
      font-size: 12px;
      margin-top: 10px;
      text-align: left;
    }
  }
}