.verify-identity-page {
  overflow: auto;

  .box {
    width: 35%;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px 30px 30px;

  
    @media screen and (max-width: 1000px) {
      width: 45%; 
    }

    @media screen and (max-width: 990px) {
      width: 55%; 
    }
    @media screen and (max-width: 676px) {
      width: 75%; 
    }
    @media screen and (max-width: 428px) {
      width: 90%; 
    } 

    p{
      font-size: 16px;
    }
  }
}