.start-onboarding-page {
  overflow: auto;

  .box {
    width: 35%;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    line-height: 54px;
    padding: 50px 30px;
    margin-top: 20vh;

    @media screen and (max-width: 676px) {
      width: 65%; 
    }  
    @media screen and (max-width: 500px) {
      width: 75%; 
    } 
    @media screen and (max-width: 428px) {
      width: 90%; 
    } 

    h2 {
      font-size: 24px;
      line-height: 29px;
      color: #3A4080;
    }
    p {
      font-size: 14px;
      line-height: 21px;
      color: #414141;
    }
    a{
      font-size: 14px;
    }
  }
}