.no-found-page {
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: rgba(8, 121, 201, 0.96);
  }

  .box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
  }
}