.cp-modal {
  .dialogue {
    width: 30%;

    @media screen and (max-width: 676px) {
      width: 60%; 
    }  
    @media screen and (max-width: 500px) {
      width: 70%; 
    } 
    @media screen and (max-width: 428px) {
      width: 80%; 
    } 
  }
}