.textbox {
  &:focus-within fieldset {
    border: 1px solid #3A4080;
    transition: ease-in 500ms;
  }

  .disabled-input legend {
    color: #d5d5d5;
  }
  .disabled-input {
    border: 1px solid #d5d5d5;
  }
  .error {
    border: 1px solid #d34242;
  }
  .label-error {
    color: #d34242
  }

  span.active{
    display: inline !important;
    font-size: .8rem;
    transform: translateY(-0.7rem);
  }

  input.active{
    position: relative;
    top: 0.3rem;
  }

  &:focus-within {
    span{
      display: inline !important;
      font-size: .8rem;
      transform: translateY(-0.7rem);
      color: #3A4080;
    }

    input{
      position: relative;
      top: 0.3rem;
    }

    input::placeholder{
      color: transparent;
    }
  }


  fieldset {
    min-width: 0;
    padding: 17px;
    margin: 0;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    box-sizing: border-box;
    // margin-bottom: 15px;
  }

  span{
    padding: 1px 2px;
  }

  input {
    width: 100%;
    height: auto;
    outline: none;
    border: 0;
    background: transparent;
    
  }


  .input-error {
    text-align: left;
    font-size: 12px;
    color: #d34242 !important;
  }
  
}