.risk-questions-page {
  background-color: #f3f3f3;
  background-image:  url(../../../../assets/images/password-bg.svg);;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  overflow: scroll;

  .cp-modal {
    z-index: 1024;
    .dialogue {
      width: 40%;

      @media screen and (max-width: 676px) {
        width: 65% !important; 
      }  
      @media screen and (max-width: 500px) {
        width: 75% !important; 
      } 
      @media screen and (max-width: 428px) {
        width: 90% !important; 
      } 

      // img {
      //   position: relative;
      //   width: 150px;
      //   height: 150px;
      //   border-radius: 5%;
      //   object-fit: cover;
      //   margin-right: 10px;
      // }
    }
  }

  .questions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .question-section{
      overflow-y: scroll;
    }

    .progress {
      border-radius: 0 !important;
      position: absolute;
      height: 10px;
      width: 50%;
      z-index: 1020;

      @media screen and (max-width: 676px) {
        width: 65% !important; 
      }  
      @media screen and (max-width: 500px) {
        width: 80% !important; 
      } 
      @media screen and (max-width: 428px) {
        width: 95% !important; 
      } 
    }
  }

  
}