.predefined-page {

  .payment-method{
    border: 1px solid black;
    border-radius: .2rem;
    cursor: pointer;

    &.selected{
      border-color: #3A4080;
      color: #3A4080!important;
    }
  }

  .cp-modal {
    h5{
      font-size: 18px!important;
    }
    .dialogue {
      width: 40%;
      @media screen and (max-width: 979px) {
        width: 50% !important; 
      } 
      @media screen and (max-width: 676px) {
        width: 65% !important; 
      }  
      @media screen and (max-width: 500px) {
        width: 75% !important; 
      } 
      @media screen and (max-width: 428px) {
        width: 90% !important; 
      } 
    }
  }
}