.tickets-page {
  .cp-modal {
    .dialogue {
      width: 60%;
      @media screen and (max-width: 676px) {
        width: 75% !important; 
      }  
      @media screen and (max-width: 500px) {
        width: 85% !important; 
      } 
      @media screen and (max-width: 428px) {
        width: 90% !important; 
      } 
    }
  }

  .file {
    visibility: hidden;
  }
  .file-items {
    background-color: #a3d8ff;
    color: #488DBE;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    margin-right: 5px;
  }

  .table-class {
    overflow-x: auto;
    overflow-y: auto
  }

  input{
    outline: 0;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--blue);
      opacity: 1; /* Firefox */
    }
  }

  .search{
    position: absolute;
    top: -0.2rem;
    left: 0.2rem;
    z-index: 1;
  }
}