.card-container {
  // box-shadow: 0px 0px 4px rgba(71, 71, 71, 0.16);
  // box-shadow: 0px 2px 7px rgba(71, 71, 71, 0.11), 0px 2px 7px rgba(71, 71, 71, 0.11);
  box-shadow: 0px 2px 7px rgba(71, 71, 71, 0.11);
  border-radius: 4px;
  padding: 20px
}