$deep-blue: #0F142C;
$cp-blue: #3A4080;
$off-white: #F8F9FC;
$body-grey: #C4C4C4;
$dark-grey: #8D888E;
$light-grey: #E7EFFF;
$menu-white: #FBFCFE;

.dashboard-body-menu{
//   margin-top: 33px;

  @media screen and (max-width: 769px) {
      width: fit-content;
      margin: 0 auto;
      width: 95%;
      display: flex;
      overflow-x: auto;
      justify-content: space-between;
  }

  &__menu-item{
      display: inline-block;
      width: max-content;
      padding: 10px 15px;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.005em;
      margin: .3em 1em 1.14em 0;
      color: $body-grey;
      position: relative;
      cursor: pointer;

      @media screen and (max-width: 769px) {
          font-size: 14px;
          margin-right: 0;
          margin: .3em 2em 0 0;
      }

      &::after{
          display: inline-block;
          content: '';
          width: 100%;
          height: 3px;
          position: absolute;
          bottom: -1.14em;
          left: 0;

          @media screen and (max-width: 769px) {
            bottom: 0;
        }
      }

      &--active{
          &>span{
              color: $cp-blue;
                background-color: rgba(201, 91, 16, 0.1);
                color: rgba(201, 91, 16, 1);
                padding: 10px 15px;
                border-radius: 3px;

              &::after{

                @media screen and (max-width: 769px) {
                    background-color: $cp-blue;
                }
                //   
              }

              &>span{
                  background-color: $light-grey;
                  color: rgba(201, 91, 16, 1);
              }
          }
      }
  }

  &__item-count{
      display: inline-block;
      position: absolute;
      left: calc(100% + .9em);
      top: -.3em;
      font-weight: 600;
      font-size: .63em;
      background-color: #E5E5E5;
      text-align: center;
      padding-top: .8em;
      height: 2.8em;
      width: 2.8em;
      border-radius: 50%;
      letter-spacing: 0.005em;
      color: #828080;

      @media screen and (max-width: 769px) {
          display: none;
      }
  }
}