.onboarding-page {
  background-color: #E5E5E5;
  min-height: 100vh;
  overflow: auto;
  background-image: url('../../../assets/images/password-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}