.main-blog-item {
  .blog-info-item-main {

    @media screen and (max-width: 769px) {
      padding-top:30px;
      padding-left: 0 !important;
    }
  }

  .profile-photo {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    object-fit: cover;
  }

  .main-blog-item-img-container {
  
    .main-blog-img {
      object-fit: cover;
      width: 333px;
      height: 172px;
    }
  }

  .blog-category-Blockchain {
    color: #2EB26B;
    background-color: rgba(46, 178, 107, 0.15);
    padding: 10px 15px;
  }

  .blog-category-Business {
    color: #b1ae52;
    background-color: #e4e077;
    padding: 10px 15px;
  }

  .blog-category-Bitcoin {
    color: #6152BD;
    background-color: rgba(97, 82, 189, 0.15);
    padding: 10px 15px;
  }

  .bar-Blockchain {
    background-color: #2EB26B;
    padding: 2px;
    height: 80%;
  }

  .bar-Business {
    background-color: #b1ae52;
    padding: 2px;
    height: 80%;
  }

  .bar-Bitcoin {
    background-color: #6152BD;
    height: 80%;
    padding: 2px;
  }

  .Bitcoin {
    color: #6152BD;
  }

  .Business {
    color: #b1ae52;
  }

  .Blockchain {
    color: #2EB26B;
  }

  .blog-category- {
    color: #2e72b2;
    background-color: rgba(45, 178, 192, 0.15);
    padding: 10px 15px;
  }
}