@font-face {
  font-family: "SofiaPro";
  src: url("./fonts/SofiaPro-Light.woff") format("woff");
  font-weight: 200 300;
}

@font-face {
  font-family: "SofiaPro";
  src: url("./fonts/SofiaPro-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "SofiaPro";
  src: url("./fonts/SofiaPro-Medium.woff") format("woff");
  font-weight: 500 600;
}

@font-face {
  font-family: "SofiaPro";
  src: url("./fonts/SofiaPro-Bold.woff") format("woff");
  font-weight: 700;
}