.ppi-page {
  // margin-top: 50px;
  min-height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card-container {
    height: 205px;
    margin-top: 15px;
    overflow: hidden;
  }
}