.marketplace-card {

  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content:end;
  cursor: pointer;

  &::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.186);
  }

.investment-name{
  margin: 20px 0 0 0;
}

.investment-description {

  font-size: 14px;
  // width: 155px;
 }

}