.risk-page {
  margin-top: 50px;
  margin-bottom: 50px;

  .cp-modal {
    .dialogue {
      width: 35%;
      overflow-y: scroll;
      max-height: 500px;
      @media screen and (max-width: 676px) {
        width: 65%; 
      }  
      @media screen and (max-width: 676px) {
        width: 65%; 
      }  
      @media screen and (max-width: 500px) {
        width: 75%; 
      } 
      @media screen and (max-width: 428px) {
        width: 90%; 
      } 
    }
  }

  .guide-item{
    .join{
      color: rgb(201, 91, 16, 1);
      font-size: 12px;
    }
  }

  .user-img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
  }
  
  .user-img-container {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    overflow: hidden;


  }
}