.alert-modal{
  .cp-modal {
    .dialogue {
      width: 25%;
      @media screen and (max-width: 676px) {
        width: 65% !important; 
      }  
      @media screen and (max-width: 500px) {
        width: 75% !important; 
      } 
      @media screen and (max-width: 428px) {
        width: 90% !important; 
      } 
    }
  }
}
.floating-popup {
  position: fixed;
  width: 100%;
  height: 35px;
  left: 0;
  top: 0;
  z-index: 1010;

  &__message {
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 5px;
  }
  &--error {
    background-color: rgba(218, 47, 62, 0.85); 
    height: 100%;
  }

  &--success {
    background-color: rgba(46, 178, 107, 0.85);
    height: 100%;
  }
}