.transaction-pin-page {
  overflow: auto;

  .box {
    width: 35%;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    padding: 35px 30px;

   
    @media screen and (max-width: 1000px) {
      width: 45%; 
    }

    @media screen and (max-width: 990px) {
      width: 55%; 
    }
    @media screen and (max-width: 676px) {
      width: 75%; 
    }
    @media screen and (max-width: 428px) {
      width: 90%; 
    } 

    p{
      font-size: 16px;
      text-align: center;
    }

    .boxes {
      width: 70%;
      height: 56px;

      @media screen and (max-width: 500px) {
        width: 75%; 
      } 
      @media screen and (max-width: 428px) {
        width: 100%; 
      } 
    }

    a{
      font-size: 14px;
    }
    .pin-error {
      color: #d34242;
      font-size: 12px;
      margin-top: 10px;
      text-align: left;
    }
  }
}