.title-card {
    min-width: 132px;
    flex: 1;
    padding: 24px 25px;
    border-radius: 6px;
    color: #ffffff;
    position: relative;
    border: 1.2px solid;

    &__icon {
        margin: auto;
        width: 56px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
