.termed-investments-page {
  // margin-top: 50px;
  margin-bottom: 50px;

  .card-container {
    height: 205px;
    margin-top: 15px;
    overflow: hidden;

    img {
      width: 14%;
    }

    .investment-name::first-letter {
      text-transform: capitalize;
    }
  }
}