.data-table {
  table {
    width: 100%;
  }
  .table-header {
    background: rgba(93, 101, 172, 1);

    th {
      padding: 15px 15px;
      font-weight: normal;
      font-size: 12px;
      color: white;
    }
  }
  tr {
    border-bottom: 1px solid #E5E5E5;

    td {
      padding: 10px 15px;
      text-transform: capitalize;
      font-size: 16px;
    }
    .description{
      text-transform: none;
    }

    &:nth-child(even) {
      // background-color: #F8F8FC;
    }
    &:last-child {
      background-color: #FFFFFF;
    }
  }

  .status-close {
    background-color: #C3F5CE;
    color: #2EB26B;
  }

  .status-closed {
    background-color: #C3F5CE;
    color: #2EB26B;
  }

  .status-open {
    background-color: #FFE9A3;
    color: #E7A52E;
  }

  .status-pending {
    background-color: #eeeeee;
    color: #bbbbbb
  }
}